<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultDevices</key>
	<dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-11-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--5th-generation-</key>
			<string>31648ACA-AFC4-4111-8ADC-E790A8DF5C8D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--6th-generation-</key>
			<string>8042A781-CB91-4C5D-82D3-D7C8A766695C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air</key>
			<string>61287F62-98D7-452B-BC66-1270F8FCC2C8</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-2</key>
			<string>22FA2400-18EB-4B42-BB5F-38976FA398E9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro</key>
			<string>93E60AF8-36EA-46B2-9026-54EB794E70B6</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--10-5-inch-</key>
			<string>E9980950-73F9-4534-B90A-15D3306E5367</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---2nd-generation-</key>
			<string>268DD4C0-9D75-412B-9900-027CC95C94A4</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>B8F13E74-EE27-4D68-8B8E-7E2868D91E6C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-5s</key>
			<string>2C457682-B70A-44C2-A14F-372E563EE79C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6</key>
			<string>158482A5-8F73-4FDF-A7FD-665AC44C432C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6-Plus</key>
			<string>CBA64668-0486-41D1-A210-B40A65C376EC</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s</key>
			<string>97654856-D533-4503-9E3D-13068B9B7550</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-6s-Plus</key>
			<string>54C26AD9-B7CE-4C11-9780-8E361A040CA8</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-7</key>
			<string>D8CA4314-9634-4B78-B189-A37948FD724E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-7-Plus</key>
			<string>C756218F-A3B5-4B97-A0BE-131757BB45B7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>D334CD20-9B6C-4F52-9C4B-8BACE736E4C1</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>22EFF2FA-6D79-4810-98C2-035128D4C042</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-SE</key>
			<string>651CAAE4-1FD3-484C-95DE-CE1D22A2A1D5</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-X</key>
			<string>348A88B7-E9B4-4830-BD3F-65A11D7654CE</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-13-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--7th-generation-</key>
			<string>1C938EBA-98AA-4E51-9982-007551D27F16</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</key>
			<string>E698D54F-D66A-478D-9A22-EF6065152569</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch---2nd-generation-</key>
			<string>A86D7D0B-410A-4CD3-A98F-436F8E6035BE</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---4th-generation-</key>
			<string>B3AEFCD2-C2D9-4200-8F2D-92C2CBF307C9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>EFD08561-A6D3-4D06-A3DD-26F573AE54BB</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11</key>
			<string>740243CD-534D-42F6-992A-FA0E2F6DB608</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro</key>
			<string>6F50F470-70D4-4494-8871-9D10EE737995</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro-Max</key>
			<string>52FC9228-BAFD-4B84-9C24-1C3C9206E058</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>673C1A32-A109-4856-8220-9A5D059EAA73</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>B3890A68-5799-43D9-8B3D-BFDC0FDE1343</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-SE--2nd-generation-</key>
			<string>F1356976-E6A8-4525-B40B-D97E3ED8DD87</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-13-5</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad--7th-generation-</key>
			<string>CFDDDA3B-B1DA-4390-8672-6B1551D36922</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air--3rd-generation-</key>
			<string>603A0AD5-1967-4D5F-AA43-BC5A68E54CF0</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--11-inch---2nd-generation-</key>
			<string>A3782965-52BA-45F1-B9D2-EFA7CAF0C024</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--12-9-inch---4th-generation-</key>
			<string>9340EE4A-106A-4AB0-99D5-544D0E4FE101</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro--9-7-inch-</key>
			<string>1CDA30FC-4E35-4558-BBCB-7BFE80D56161</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11</key>
			<string>E446B5CE-C7AD-4E42-8D9B-7FD890B6BE5D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro</key>
			<string>869C6B37-F767-4104-8D7B-7D8C9901645D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-11-Pro-Max</key>
			<string>1A25DB44-FCD6-4F54-B3F8-4D27546CC81F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8</key>
			<string>B4BE8FDE-510A-4AF0-A771-358466A7C729</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</key>
			<string>DADAD73D-6BA1-4E28-BD0F-8F6FD70836F5</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-SE--2nd-generation-</key>
			<string>FD8B27F2-B104-4CB2-BB39-7F3BCE0C7155</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.tvOS-13-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-1080p</key>
			<string>2199EDC5-CC59-417B-8BC2-BA946BB5EEAE</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-1080p</key>
			<string>663B8BB8-DBD1-455E-8BA5-6DA8369E31A6</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-4K</key>
			<string>9C93FFB8-1FDF-4F7F-A0B2-A56E93B2320C</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.watchOS-6-2</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-40mm</key>
			<string>8B0CF5D1-3E59-4908-AE0A-9E287A2C3D17</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-4-44mm</key>
			<string>BF9C84E8-1003-4DCD-86B0-1AC2D22346B5</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-40mm</key>
			<string>FB6C8BE0-646E-4298-90FD-560B4111E0BD</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-5-44mm</key>
			<string>53F34D2D-D7B6-4D5E-AAE4-33820BE3D761</string>
		</dict>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<key>DevicePairs</key>
	<dict/>
	<key>Version</key>
	<integer>0</integer>
</dict>
</plist>
